body {
  -webkit-text-size-adjust: 100%;
}

h2 {
  font-size: 1em;
  margin: 0px;
  min-width: 300px;
}
.index-frame {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  border: 1px solid black;
}
.index-image {
  display: inline-block;
  text-align: center;
  min-width: 60px;
  font-size: x-small;
}

.tooltip {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 5px;
  padding-right: 5px;
  max-width: 290px;
  color: white;
  background-color: black;
  font-family: "ＭＳ Ｐゴシック";
  font-size: 12px;
}

.tooltip br {
  display: block;
  content: "";
  margin: 0px 0;
}

.tooltip br + br {
  margin: 5px 0;
}

.border-normal {
  padding-top: 5px;
  border: 7px solid black;
  border-image: url("./img/ui/tooltip-border-normal.png") 7;
}
.border-nx {
  max-width: 280px;
  padding-top: 4px;
  border: 8px solid black;
  border-image: url("./img/ui/tooltip-border-nx.png") 8;
}

.diff .item-different-line {
  border-left-color: #00f800;
}
.diff .item-different-line .text-color-LTYELLOW {
  color: #00f800;
}

.tooltip > div {
  border-left: solid #000 3px;
  padding-left: 3px;
  line-height: 1.2em;
}
.label {
  margin-top: 5px;
  color: #00ffff;
}

.name {
  margin-top: 10px;
}

.image {
  margin: 0px;
  position: relative;
  width: 34px;
  height: 34px;
}
.rank {
  position: absolute;
  top: 0px;
  left: 0px;
}
.grade {
  position: absolute;
  right: 1px;
  bottom: 1px;
}

.text-color-BTBLUE {
  color: #50a0f8;
}
.text-color-CTPURPLE {
  color: #d684ff;
}
.text-color-PURPLE {
  color: #ff73ff;
}
.text-color-CYAN {
  color: #00ffff;
}
.text-color-GOLDYELLOW {
  color: #efce9c;
}
.text-color-GRAY {
  color: #777;
}
.text-color-GRAY > .text-color-LTYELLOW {
  color: #777;
}
.text-color-GREEN {
  color: #00cc00;
}
.text-color-LTGREEN {
  color: #00ff00;
}
.text-color-LTORANGE {
  color: #ff9900;
}
.text-color-LTRED {
  color: #f80000;
}
.text-color-LTYELLOW {
  color: #f8f800;
}
.text-color-WHITE {
  color: #fff;
}

.item-name-U {
  color: #efce9c;
}
.item-name-NX {
  color: #c66339;
}
.item-name-EX {
  color: #b2b2f8;
}
.item-name-T {
  color: #00f800;
}

table {
  table-layout: fixed;
  margin: auto;
}

table,
th,
td {
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  border: 1px solid black;
}

th,
td {
  padding: 2px;
  min-width: 46px;
  min-height: 46px;
}

td img {
  vertical-align: middle;
}

input[type="search"] {
  box-sizing: border-box;
  width: 100%;
}

.sticky_table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border: solid black 1px;
}

.sticky_table th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: white;
  border: solid black 1px;
}

.sticky_table thead th:first-child {
  z-index: 2;
}
